
/* Game Title */
.jumbotron {
    padding-top: 35px;
    padding-bottom: 35px;
}

/*Game Box Padding */
.panel-default,
.panel-heading{
    padding-left: 0px;
    padding-right:0px;
}

.panel-title,
.panel-body{
    padding-left: 30px;
    padding-right: 30px;
}

/*Response Boxes */
.choiceDivs{
    width: fit-content;
    padding-left:20px;
    padding-right:20px;
}