/*Sets page background to grafitti background */
body {
    background-image:url("../images/freshPrinceWallpaper.jpg")
}

.container{
    margin:auto;
}

/* Game Logo */
.jumbotron {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 30px;
    height:300px;
    position:relative;
    opacity: .9;
}

/*Word trivia in logo  */
#trivia {
    z-index: 1000;
    position:absolute;
    top: 200px;
    left: 900px;
    color:white;
    font-size:80px;
    font-family: 'Permanent Marker', cursive;
    color: #FF1493;
    -webkit-text-fill-color: #FF1493; /*Sets outline stroke on text  */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

/*Padding for all panels (header line extends to edge of element) */
.panel-default,
.panel-heading{
    padding-left: 0px;
    padding-right:0px;
}

.panel-title,
.panel-body{
    padding-left: 30px;
    padding-right: 30px;
}

/*Centers padding heading text  */
.panel-heading{
    text-align:center;
}

/* Makes panel slightly transparent  */
.panel,
.mainPanel{
    padding-left: 0px;
    opacity:.95;
}

#afterResponse{
    opacity:1;
}
.panel{
    border:solid 4px;
}

.panel-title{
    font-family: 'Sedgwick Ave Display', cursive;
    font-size:30px;
    color:#00FF00;
    text-shadow: -1px 0 #FF1493, 0 1px #FF1493, 1px 0 #FF1493, 0 -1px #FF1493;
}

/*Panel text color, font, and size  */
.panel-body {
    background-color:#FAF0E6;
    font-family: 'Sedgwick Ave', cursive;
    font-size:24px;
}

#startButton{
    border-color:#00FF00;
    background-color: #FF1493;
    color:white;
}

.questionDiv{
    margin-bottom:15px;
}

/*Response Boxes */
.choiceDivs{
    width: fit-content;
    padding-left:20px;
    padding-right:20px;
    border:solid 2px black;
    background-color:#00CED1
}
/*Used to add styling when hovering and clicking on response boxes */
.responses{
    padding-left:15px;
    width:fit-content;
    float:left;
}

.choiceDivs:hover{
    border: 2px solid #FFA500;
    color:#FFA500;
}

.choiceDivs:active {
    opacity:.7
}


#correctAnswer {
    font-weight:bold;
    color:#00FF00;
}

#correctText{
    font-weight: bold;
    color:#FF1493;
}

#questionImage {
    float:left;
    width:50%;
    margin-left:30px;
}

.questionImages{
    max-width:100%;
    border: 2px solid black;
    opacity:1;

}

.gameDiv,
.questionInfoDiv{
    padding-bottom:20px;
}

.afterQuestionImage{
    max-width:100%;
    margin:0 auto;
    
}

.italics{
    font-style:italic;
}